body {
  text-align: center;
  font-family: helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color; white;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: helvetica;
  font-size: 14px;
}

#menu {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

a {
  color: white
}

.design-ny {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
